$tiles: ('Bamboo1', 'Bamboo2', 'Bamboo3', 'Bamboo4', 'Bamboo5', 'Bamboo6', 'Bamboo7', 'Bamboo8', 'Bamboo9', 'Character1', 
		 'Character2', 'Character3', 'Character4', 'Character5', 'Character6', 'Character7', 'Character8', 'Character9',
		 'Stone1', 'Stone2', 'Stone3', 'Stone4', 'Stone5', 'Stone6', 'Stone7', 'Stone8', 'Stone9', 
		 'DragonGreen', 'DragonRed', 'DragonWhite', 
		 'FlowerBamboo', 'FlowerChrysanthemum', 'FlowerOrchild', 'FlowerPlum',
		 'SeasonFall', 'SeasonSpring', 'SeasonSummer', 'SeasonWinter',
		 'WindEast', 'WindNorth', 'WindSouth', 'WindWest');

$tile-height: 96px;
$tile-width: 70px;

$board-width: 15;
$board-height: 15;
$board-depth: 10;

.board {
	width: $tile-width * $board-width;
	height: $tile-height * $board-height;
	position: relative;
}

.sprite {
	&.tile {
		width: $tile-width;
		height: $tile-height;
		position: absolute;
		background-size: cover;
		background-image: url(../img/spriteSD.png);

		&.selected {
        	opacity: .6; 
        }

		@each $tile in $tiles {
			$index: index($tiles, $tile) - 1;

			&-#{$tile} {
			  background-position: 0 #{-96*$index}px;
			}
		}

		@for $i from 1 through $board-width {
			&[data-x="#{$i}"] {
				margin-left: #{$i * ($tile-width / 2)};
			}
		}

		@for $y from 1 through $board-height {
			&[data-y="#{$y}"] {
				margin-top: #{$y * ($tile-height / 2)};

				@for $z from 1 through $board-depth {
					&[data-z="#{$z}"] {
						z-index: #{$z};
						margin-top: #{($y * ($tile-height / 2)) - ($z * 8)};
					}
				}
			}
		}
	}
}