<div>
	<h1>Games</h1>

	<!-- Filter buttons -->
	<div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:''}">All</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'open'}">Open</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'playing'}">Playing</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'finished'}">Finished</button>
    </div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Gemaakt door:</th>
				<th>Min spelers</th>
				<th>Max spelers</th>
				<th>Aantal spelers</th>
				<th>status</th>
				<th>Actie</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="game in gc.games">
				<td>{{ game.createdBy.name }}</td>
				<td>{{ game.minPlayers }}</td>
				<td>{{ game.maxPlayers }}</td>
				<td>{{ game.amountOfPlayers }}</td>
				<td>{{ game.state }}</td>
				<td>
					<button ng-show="gCtrl.canJoinGame(game)"  class="btn btn-warning"  ng-click="gCtrl.joinGame(game)">Join</button>
                	<button ng-show="gCtrl.canPlayGame(game)"  class="btn btn-info"   ui-sref="game({id:game._id})">Open</button>
                	<button ng-show="gCtrl.canStartGame(game)" class="btn btn-success"  ng-click="gCtrl.startGame(game)">Start</button>
            	</td>
            </tr>
		</tbody>
	</table>
</div>